<app-header></app-header>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner carouselBaniere">
    <div class="carousel-item h-100 active">
      <img src="../../../assets/banierplats.png" class="d-block w-100 h-100" alt="carousel de la page d'accueil" >
    </div>
    <div class="carousel-item h-100 ">
      <img src="../../../assets/baniertout.png" class="d-block w-100 h-100" alt="carousel de la page d'accueil">
    </div>
    <div class="carousel-item h-100">
      <img src="../../../assets/baniersucre.png" class="d-block w-100 h-100" alt="carousel de la page d'accueil">
    </div>
  </div>
</div>

<div class="card mb-3 h-75 my-4 w-75 mx-auto">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/contact.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Contact -nous</h5>
          <div class="mb-3">
            <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
            <input type="email" class="form-control border-1 border-danger border-bottom" id="exampleFormControlInput1" placeholder="Nom">
          </div>
          <div class="mb-3">
            <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
            <input type="email" class="form-control border-1 border-danger border-bottom" id="exampleFormControlInput1" placeholder="Email">
          </div>
          <div class="mb-3">
            <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
            <textarea class="form-control border-1 border-danger border-bottom" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
          </div>
          <div>
             <ul>
                <li>Email:
                    easyleek@gmail.com</li>
                <li>Telephone:
                    +221 76 012 78 96</li>
                <li>Address:Dakar , Yoff</li>
             </ul>
             <ul>
                <li><i class="bi bi-facebook"></i></li>
                <li><i class="bi bi-instagram"></i></li>
                <li><i class="bi bi-twitter"></i></li>
             </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<app-footer></app-footer>