<footer class="py-3 my-4 border border-2 border-danger d-flex justify-content-center">
    <div class="row">
        <p class="col"><img src="https://s3-alpha-sig.figma.com/img/39be/b32f/ac2c6e08b43e58bf83b95d2c4762e576?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=G6mg7sz2QY1B8RwelnpHJGiYzbnx~r9hG0Tml0hOucziA7vXreYYSRQZFxQ1cO8wLaoUuqCBXLb9tttvCw7Q5AaUPOtlyGh8JZUJQEiWF3IqMMwwrpsDxi4fJ69NjgmuI8y6wHwsloH3jSR7DSzKhf54Cc4VvWwL6AxdJ~yywxWqK8~uNTckyRBC7g9vC5SThVEk6wtndDvpfeANxTxO9AC1WUHSmsZLTcvS9YxktBoKmhn~ppgHKjv-8Qk3huWMobXrz1Lvz1-P-K-qgW1fw5Q99PiV4tJPPX6CxjMI43RcVoUpUkzmCvypncOMcPbC8~qXG0r96dMAc7KIbF4ujA__" alt=""></p>
        <div class="col+">
            <ul class="nav justify-contennt-start border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Accueil</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Restaurant</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Guide d'utilisation</a></li>
              </ul>
              <ul class="nav justify-content-start  pb-3 mb-3">
                  <li class="nav-item"><a href="#" class="nav-link px-2 text-black">A propos</a></li>
                  <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Contact</a></li>
                  <li class="nav-item"><a href="#" class="nav-link px-2 text-black">Politique de confidentialité</a></li>
              </ul>
              <p class="text-center text-black">© 2024 EasyLeek, Inc</p>
        </div>
    </div>
  </footer>
