<!-- SIDEBAR -->
<section id="sidebar">
    <a class="brand" routerLink="/dashboard">
        <img src="../../../assets/images/logo.png" alt="" height="80px" class="m-0 m-auto ">
    </a>
    <hr class="border">
    <ul class="side-menu top">
        <li class="active" >
            <a>
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a>
                <i class='bx bxs-shopping-bag-alt'></i>
                <span class="text">Catégories</span>
            </a>
        </li>
        <li>
            <a>
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Client</span>
            </a>
        </li>
        <li>
            <a>
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Restaurant</span>
            </a>
        </li>
        <li>
            <a>
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Contact </span>
            </a>
        </li>
        <li>
            <a>
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Menu</span>
            </a>
        </li>
        <li>
            <a>
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Commande</span>
            </a>
        </li>
        <li >
            <a>
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Commentaire</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>

        </li>
        <li>
            <a class="logout" routerLink="/login">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Se deconnecter</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->
<!-- NAVBAR -->
<nav class="d-flex justify-content-between w-50 border-2 mx-auto">
    <nav class="navbar bg-body-tertiary border-black">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
</nav>
<!-- NAVBAR -->