 <div class="sidebar">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus"></i>
      <span class="logo_name">EasyLeek</span>
    </div>
    <ul class="nav-links">
      <li *ngIf="isAdminSysteme">
        <a href="#" routerLink="/adminSysteme">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li *ngIf="isAdminSysteme">
        <a href="#" routerLink="/adminCategorie">
          <i class="bx bx-box"></i>
          <span class="links_name">Gestion Categorie</span>
        </a>
      </li>
      <li *ngIf="isAdminSysteme">
        <a href="#" routerLink="/adminClient">
          <i class="bx bx-list-ul"></i>
          <span class="links_name">Gestion client</span>
        </a>
      </li>
      <li *ngIf="isAdminSysteme">
        <a href="#" routerLink="/adminRestaurant">
          <i class="bx bx-list-ul"></i>
          <span class="links_name">Gestion Restaurateur</span>
        </a>
      </li>
      <li *ngIf="isAdminSysteme">
        <a href="#" routerLink="/adminMessage">
          <i class="bx bx-list-ul"></i>
          <span class="links_name">Messages</span>
        </a>
      </li>
      
      <li *ngIf="isRestaurateur">
        <a href="#" routerLink="/menuResto">
          <i class="bx bx-book-alt"></i>
          <span class="links_name">Gestion menu</span>
        </a>
      </li>
      <li *ngIf="isRestaurateur">
        <a href="#" routerLink="/commandeResto">
          <i class="bx bx-user"></i>
          <span class="links_name">Gestion commande</span>
        </a>
      </li>
      <li *ngIf="isRestaurateur">
        <a href="#" routerLink="/commentairesResto">
          <i class="bx bx-message"></i>
          <span class="links_name">Commentaires</span>
        </a>
      </li>
      <li class="log_out" >
        <a href="#" (click)="logout()">
          <i class="bx bx-log-out"></i>
          <span class="links_name">Se deconnecte</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bi bi-list sidebarBtn bx bx-menu"></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search..." />
      <i class="bx bx-search"></i>
    </div>
    <div class="profile-details">
      <img src="https://lh3.googleusercontent.com/a/ACg8ocIssfhQMi2R0chfCferBqytgrOpsspeG2IVcVdPrSPzZw=s360-c-no" alt="" />
      <span class="admin_name">Prem Shahi</span>
      <i class="bx bx-chevron-down"></i>
    </div>
  </nav>
  </section>

  
