<app-header></app-header>
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title">
                    <h2>Mon profil</h2>
                </div>
            </div>
            <div class="col-lg-12"></div>
            <div class="col-lg-12">
                <div class="my-profile-head">
                    <div class="profile-img-main">
                        <div class="profile-img"></div>
                    </div>
                    <div class="my-profile-detail">
                        <div class="my-profile-info">
                            <h3>{{ name }}</h3>
                            <p class="rtl-num-cod">
                                <i class="iicon-icon-35"></i> {{ phone }}
                            </p>
                        </div>
                        <div class="edit-pro-btn">
                            <button class="btn me-5" data-toggle="modal" data-target="#edit-profile">
                                Editer le profil
                            </button>
                            <button class="btn btn-danger me-5" (click)="logout()">
                                Déconnexion
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row" id="profile_page_content">
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-menu-main">
                    <div class="sidebar-menu">
                        <div class="ordering-title">
                            <h6>Commande</h6>
                        </div>

                        <ul class="nav nav-tabs">
                            <li class="tabs active">
                                <a>Historique des commandes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="tab-content">
                    <div class="tab-pane fade in active show">
                        <div class="profile-content-area">
                            <div class="profile-page-title">
                                <h5>Historique des commandes</h5>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active">Commandes en
                                            cours</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" >Commandes passées</a>
                                    </li>
                                </ul>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class="col-lg-12 border-black">
        <div class=""></div>
    </div> -->



    <div class="profile-content-main">
        <div class="tab-content">

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque maxime illum reprehenderit explicabo, amet corporis dolor sed, in soluta officia, at vero possimus fugit? Laudantium dolorum dicta aliquam fugit veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam debitis itaque harum mollitia in aspernatur quas reiciendis placeat, cupiditate pariatur voluptatem? Veniam voluptatum eaque accusantium quae animi cum perspiciatis repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde facilis consequuntur accusamus corrupti quaerat ex temporibus praesentium modi? Libero accusantium sit voluptatum eos labore cumque consectetur repellendus harum deserunt magni.
            <div>
                <div *ngIf="Commandes.length > 0; else noCommands">
                    <div *ngFor="let commande of Commandes">
                        {{ commande.id }} - {{ commande.nomPlat }} 
                        - {{commande.created_at | date:'dd/MM/yyyy'}} - {{commande.etatCommande}} - {{commande.prixCommande}}
                    </div>
                </div>
                <ng-template #noCommands>
                    <div>
                        <figure>
                            <img
                                src=""  alt="je suis l'image "/>
                        </figure>
                        <p class="no-found">Aucune commande passée trouvée.</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>