<div class="card w-75"style="margin-top:8%;border:2px solid red;margin-left:15%;border:1px solid #F7E801;">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">#</th>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Nom</th>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Date</th>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Fast-food</td>
            <td>10/10/2024</td>
            <td>
              <ul class="d-flex list-group list-group-horizontal ">
                <li class="list-group-item"  data-bs-target="#editcategorieModal" data-bs-toggle="modal"><i class="bi bi-pencil-square"></i></li>
                <li class="list-group-item"><i class="bi bi-trash3"></i></li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Patisserie </td>
            <td>15/12/2023</td>
            <td>
              <ul class="d-flex list-group list-group-horizontal ">
                <li class="list-group-item" data-bs-target="#editcategorieModal" data-bs-toggle="modal"><i class="bi bi-pencil-square"></i></li>
                <li class="list-group-item"><i class="bi bi-trash3"></i></li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Tangana</td>
            <td>10/10/2021</td>
            <td>
              <ul class="d-flex list-group list-group-horizontal  border-0">
                <li class="list-group-item" data-bs-target="#editcategorieModal" data-bs-toggle="modal"><i class="bi bi-pencil-square"></i></li>
                <li class="list-group-item"><i class="bi bi-trash3"></i></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>