<div class="card w-75"style="margin-top:8%;border:2px solid red;margin-left:15%;border:1px solid #F7E801;">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Image</th>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Nom du plat</th>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Prix Unitaire  </th>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Quantite</th>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Prix Total</th>
            <th scope="col" style="background-color: #FFA07A;font-weight:bold;">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of panier">
            <th scope="row"><img src="http://127.0.0.1:8000/images/{{item.image}}" alt="Image du plat" width="50px" height="50px"></th>
            <td>{{ item.libelle }}</td>
            <td>{{ item.prix }}</td>
            <td>
              <button (click)="diminuerQuantite(item)"> <i class="bi bi-dash"></i> </button>
              {{ item.quantite }}
              <button (click)="augmenterQuantite(item)"> <i class="bi bi-plus"></i> </button>
            </td>
            <td>{{ item.prix * item.quantite }}</td>
            <td><button (click)="supprimerDuPanier(item)"> <i class="bi bi-x"></i> </button></td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>