:root{
    --fraise:#FFA07A;
    --choco:#5D3C22;
    --creame:#F8F3C6;
    --argent:#F1F2F3;
}
.home-section{
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
  }

.titremere-blog{
    color: #5D3C22;
}
.carte-blog-admin{
    /* width: 900px; */
    height: auto;
}
.iconsearch {
    background-color: #FFA07A;
    color: white;
}

.iconsearch i {
    color: white;
}
.boutonajouter-blog{
   background-color: #FFA07A;
   color: white;
   border: 2px solid #FFA07A ;
}

.carte-blog-admin{
    border: 2px solid #FFA07A;
    padding: 0;
}
.boutoncherchemoi-article{
   width: 40px;
   background-color: #FFA07A;
   color: white;
   border: 2px solid #FFA07A ;
}
.inputrecherchemoi-article{
    border: 2px solid #FFA07A ;
    box-shadow: #FFA07A;
}
.boutonmodif-blog{
    background-color: #F8F3C6;
    border: 1px solid #F8F3C6;
    color: black;
}
.boutondetails-blog{
    background-color: #5D3C22;
    color: white;
}
.boutonsupprim-blog{
    background-color: #FFA07A;
    color: white;
}
.boutonpubliermodel-blog{
    background-color: #5D3C22;
    color: white;
}
.boutonannulermodel-blog{
    background-color: #FFA07A;
    color: white;
}
.articleinput-blog{
    width: 100%;
    min-height: 200px;
}
.imagearticle-detailblog{
    width: 100%;
}
.description-article{
    height: 200px;
    resize: vertical; 
}
.pagination li {
    border: none;
}

.pagination li a {
    color: black;
    cursor: pointer;
}

.pagination .active {
    background-color: #FFA07A !important;
    color: white !important;
}
.limited-height {
    max-height: 3em; /* Hauteur maximale de deux lignes, ajustez selon vos besoins */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: block;
    -webkit-line-clamp: 1; /* Nombre de lignes à afficher */
  }
.titre-carte-contact{
    /* color: #5D3C22; */
    color: white;
    background-color: #FFA07A;
    font-weight: 700;
    font-size: larger;
   }
.titremere-contact{
       color: #5D3C22;
   }

@media screen and (max-width:1200px) {
    
}
/* **************************************************************************************************************************** */

.ajoutArticle input{
    border: 1px solid #FFA07A;
}

.btn-add{
    background-color: #5D3C22 !important;
    color: white;
    font-weight: bold !important;
}

.titreAjout, .titreMdfArticle,.titreDetail{
    color: #FFA07A;
    font-weight: bold;
}

.btn-closeAjout{
    background-color: #FFA07A;
    color: white;
    border-radius: 50%;
}

.mdfArticle input,textarea{
    border: 1px solid #FFA07A;
}

.btnUpdate{
    background-color: #5D3C22 !important;
    color: white;
    font-weight: bold;
}

.btnAnnuler{
    background-color: #FFA07A !important;
    color: white;
    font-weight: bold;
}

.btnCloseDetail{
    background-color: #FFA07A;
    color: white;
}