
<nav role="navigation" class="nav w-100 sticky-top">
    <a class="menu-toggle" href="#head-nav">
      <span aria-hidden="true" class="icon-menu"></span><span class="menu-toggle-text"> menu</span>
    </a>
    <ul id="main-menu" class="top-nav menu clearfix d-flex justify-content-around gap-lg-5 gap-sm-0">
      <li class="menu-item  me-5">
        <a href=""><img src="/assets/logoE.png" alt="Logo d'easyleek" ></a>
      </li>
      <li>
        <ul class="link">
          <li class="menu-item text-black">
            <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
          </li>
          <li class="menu-item text-black">
            <a routerLink="/restaurant" routerLinkActive="active">Restaurant</a>
          </li>
          <li class="menu-item text-black">
            <a routerLink="/Apropos" routerLinkActive="active">A propos</a>
          </li>
          <li class="menu-item text-black">
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </li>
      <li class="menu-item iconeChange">
        <ul>
          <li>
            <a href="" routerLink="/login"><i class="bi bi-person personalite"></i></a> 
          </li>
          <li>
            <a href="#" routerLink="/panier" routerLinkActive="active"><i class="bi bi-cart3 panierbi"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- <header class="header">
    <nav class="navbar">
        <h2 class="logo"><a href="#"><img src="../../assets/images/logo-ci-la-bokk.png" alt="" height="50px" width="120px" routerLink="/accueil"></a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
        </label>
        <ul class="links">
            <li><a  routerLink="/accueil" >Accueil</a></li>
            <li><a  routerLink="/restaurant" >Restaurant</a></li>
            <li><a  routerLink="/propos" >A propos</a></li>
            <li><a  routerLink="/contact" >Contact</a></li>
            <li><a  routerLink="/guide" >Guide</a></li>
        </ul>
        <div class="buttons">
            <a href="#" class="signup" routerLink="/login"><i class="bi bi-person-circle"></i> Se connecter</a>
        </div>
    </nav>
</header> -->